body {
    background-color: var(--background-gray-color);
    font-family: 'Pretendard';
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 9px 16px 6px;
    border-bottom: 0.5px solid var(--light-gray-color);
    background-color: var(--background-color);
}

.nav .back-btn {
    padding: 0;
    background: transparent;
    height: 32px;
}

.nav .back-btn::after {
    position: absolute;
    content: '애월읍 위니브 감귤농장';
    margin-top:4px;
    padding-left:10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Pretendard';
}

.nav .back-btn img,.nav .menu-btn img {
    width: 22px;
}

.nav .menu-btn {
    padding: 0;
    background: transparent;
}

.main {
    position: absolute;
    bottom: 320px;
    width:100%;
}


.chatreq-container {
    display:flex;
    margin-left: 16px;
}

.chatreq-container .profile-img {
    margin-right: 12px;
    width: 42px;
    height: 42px;
}

.chatreq-container .chat-txt {
    position: relative;
    border-radius: 0px 12px 12px 12px;
    width: 240px;
    background-color: var(--background-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding:12px;
    word-break: break-all;
    margin-bottom: 9px;
}

.chatreq-container .time-txt {
    display: flex;
    align-items: flex-end;
    margin: 0 0 10px 6px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--gray-text-color);
}

.chatres-container {
    display:flex;
    justify-content: flex-end;
    margin-right: 16px;
    position: relative;
}


.chatres-container .post-img {
    width: 240px;
    height: 240px;
    position:absolute;
    top: 0;
    right: 0;
}

.chatres-container .chat-txt {
    border-radius: 12px 0 12px 12px;
    width: 108px;
    background-color: var(--enabled-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding:12px;
    word-break: break-all;
    margin-bottom: 10px;
    color:var(--background-color);
}

.chatres-container .time-txt {
    display: flex;
    align-items: flex-end;
    margin: 0 6px 10px 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--gray-text-color);
}

.chatres-container .time-txt.next-img {
    padding-right: 10px;
    position: absolute;
    top: 230px;
    right: 232px;
}

.send-container {
    position:fixed;
    width: 100%;
    background-color: var(--background-color);
    bottom: 0;
    padding:13px 16px 12px 16px;
    box-sizing: border-box;
}


.send-container .button-img {
    vertical-align: middle;
}


.send-container .message-inp {
    margin-left: 18px;
    border:none;
    padding:5px 0px;
}

.send-container .message-inp::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-gray-color);
}

.send-container .send-btn {
    float: right;
    border: none;
    background-color: var(--background-color);
    margin-top: 8px;
} 
.send-container .send-btn span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-gray-color);
}