.editProfile-sec {
  margin-top: 102px;
}

.editProfile-title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.editProfile-desc {
  font-size: 14px;
  color: var(--gray-text-color);
  text-align: center;
}

.editprofile-edit-wrap {
  position: relative;
  margin: 30px auto;
  width: 110px;
  background-image: url(../assets/images/img-profile_large.png);
  height: 110px;
  background-repeat: no-repeat;
  background-size: 110px 110px;
  border-radius: 50%;
}

.editProfile-img-upload-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
  line-height: 0;
  border-radius: 50%;
  background-color: var(--enabled-color);
}

.editprofile-input {
  padding: 8px 0;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid var(--light-gray-color);
  transition: all 0.2s;
}

.editprofile-input:focus {
  border-bottom: 1px solid var(--enabled-color);
}

.editprofile-input::placeholder {
  color: var(--light-gray-color);
}

.editprofile-input.error {
  border-bottom: 1px solid var(--error-message-color);
}

.editprofile-error-msg {
  display: none;
  margin-top: 6px;
  font-size: 12px;
  color: var(--error-message-color);
}

.submit-btn {
  cursor: not-allowed;
}

.submit-btn.active {
  background-color: var(--enabled-color);
  cursor: pointer;
}
