.post-section {
  height: 100vh;
}

.post-list-wrap {
  max-width: 360px;
  padding-top: 68px;
  margin: 0 15px;
}

.post-list-wrap.feed {
  padding-bottom: 60px;
}

.post-list-wrap .post-list-item {
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--background-color);
}

.post-img-wrap {
  width: 100%;
  height: 240px;
}

.post-img-list {
  display: flex;
  gap: 8px;
  width: 100%;
  height: 240px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.post-img-list::-webkit-scrollbar {
  height: 8px;
}

.post-img-list::-webkit-scrollbar-thumb {
  width: 30%;
  border-radius: 8px;
  background-color: var(--enabled-color);
}

.post-image {
  min-width: 360px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  white-space: nowrap;
}

/* 포스트 리스트 헤더 부분 */
.post-nav {
  display: flex;
  justify-content: space-between;
  padding: 9px 15px;
  border-bottom: 1px solid var(--light-gray-color);
}

.post-nav .post-user {
  display: flex;
  align-items: center;
}

.post-user .profile-image {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  border-radius: 16px;
}

.profile-name {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2px;
}

.profile-account {
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: var(--gray-text-color);
}

.post-nav .post-menu-button {
  background-color: transparent;
}

/* 포스트 리스트 메인 부분 */
.post-list-item .post-main {
  padding: 10px 15px 15px 15px;
}

.post-main .post-category {
  cursor: default;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 6px 12px;
  border-radius: 3px;
  color: var(--content-color-text);
  background-color: var(--background-gray-color);
}

.post-main .post-title {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.post-main .post-content {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.post-main .post-content .detail-button {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-text-color);
  background-color: transparent;
}

/* 포스트 리스트 푸터 타입1 */
.post-list-item .post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 15px;
  border-top: 1px solid var(--light-gray-color);
}

.post-footer .post-time {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-text-color);
}

.post-footer button {
  background-color: transparent;
}

.post-footer-button {
  display: flex;
  align-items: center;
}

.post-footer-button .like-button,
.post-footer-button .comment-button {
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.like-button {
  background-image: url(../assets/images/icon/icon-like-gray.svg);
}

.comment-button {
  background-image: url(../assets/images/icon/icon-comments.svg);
}

.like-button.clicked {
  background-image: url(../assets/images/icon/icon-like-purple.svg);
}

.post-footer-button span {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-text-color);
}

.post-footer-button span:first-of-type {
  margin-right: 14px;
}

/* 포스트 리스트 푸터 타입2(찬반) */
.post-footer.thumbs-buttons {
  padding: 0;
}

.post-footer .thumbs-up-button,
.post-footer .thumbs-down-button {
  width: 50%;
}

.post-footer.thumbs-buttons .thumbs-up-button {
  border-right: 1px solid var(--light-gray-color);
}

.thumbs-up-button,
.thumbs-down-button {
  padding: 20px 0;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.thumbs-up-button {
  background-image: url(../assets/images/icon/icon-ThumbsUp-gray.svg);
}

.thumbs-down-button {
  background-image: url(../assets/images/icon/icon-ThumbsDown-gray.svg);
}

.thumbs-up-button.clicked {
  background-image: url(../assets/images/icon/icon-ThumbsUp-white.svg);
  background-color: var(--enabled-color);
  border-radius: 0 0 0 5px;
}

.thumbs-down-button.clicked {
  background-image: url(../assets/images/icon/icon-ThumbsDown-white.svg);
  background-color: var(--enabled-color);
  border-radius: 0 0 5px 0;
}
