button {
  background: transparent;
}
/* header */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 13px 16px 12px;
  z-index: 10;
  background-color: var(--background-color);
  border-bottom: 0.5px solid var(--light-gray-color);
}
.nav .back-btn {
  padding: 0;
  height: 22px;
}
.back-btn img {
  width: 22px;
}

.nav h1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin-left: 8px;
}

/* 프로필 */
.main {
  margin-top: 48px;
  min-height: 100vh;
}  
.user-list-wrap {
  max-width: 390px;
  width: 100%;
  padding: 24px 16px;
  margin: 0 auto;
}
.user-profile {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

/* 이미지 가운데 정렬 */
.user-img-wrap {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  overflow: hidden;
  border-radius: 50%;
}
.user-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 유저 정보 */
.user-info {
  flex-grow: 2;
  margin: 5px 12px 7px 0;
}
.user-info strong {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.user-profile span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray-text-color);
}
.user-follow-btn {
  padding: 7px 11px;
  font-weight: 400;
  min-width: 56px;
  line-height: 14px;
  color: var(--background-color);
  background-color: var(--enabled-color);
  border-radius: 26px;
}

/* 팔로우 취소 버튼 */
.cancel {
  color: var(--gray-text-color);
  background-color: var(--background-color);
  border: 1px solid var(--light-gray-color);
}
