.main {
  padding-top: 48px;
  min-height: 100vh;
}  
.user-list-wrap {
  max-width: 390px;
  width: 100%;
  padding: 24px 16px;
  margin: 0 auto;
}
.user-profile {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
/* 팔로잉 없을 경우 */
.noFollow-msg-wrap {
  text-align: center;
}
.noFollow-msg-wrap .msg-strong {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.noFollow-msg-wrap .msg-p {
  font-size: 14px;
  line-height: 22px;
}

/* 팔로우 취소 버튼 */
.cancel {
  color: var(--gray-text-color);
  background-color: var(--background-color);
  border: 1px solid var(--light-gray-color);
}