/* font */

@font-face {
  font-family: Pretendard;
  src: url('../font/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Pretendard;
  src: url('../font/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: Pretendard;
  src: url('../font/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
}
