/* 페이지 중앙 모달창 기본 틀 */
.modal-window-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 292px;
  border-radius: 10px;
  background-color: var(--background-color);
}

.modal-center-text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--content-color-text);
  padding: 24px 0;
}

.modal-center-btn {
  display: flex;
  justify-content: space-between;
  color: var(--content-color-text);
  border-top: 1px solid var(--light-gray-color);
}

.center-btn-left,
.center-btn-right {
  width: 50%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 14px 0;
  background-color: transparent;
}

.center-btn-left {
  border-right: 1px solid var(--light-gray-color);
}

.center-btn-right {
  color: var(--enabled-color);
}

/* 페이지 하단 모달창 기본 틀 */
.hidden {
  display: none;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal-window-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: var(--background-color);
}

.modal-close-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  background-color: transparent;
}

.modal-list-btn {
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 26px;
  color: var(--content-color-text);
  background-color: transparent;
}

#delete-comment.modal-list-btn,
#report.modal-list-btn,
#chatroom.modal-list-btn {
  margin-bottom: 10px;
}
