body {
    font-family: 'Pretendard';
}

.nav {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
    background-color: var(--background-color);
    border-bottom: 0.5px solid var(--light-gray-color);
}

/* 저장 및 업로드 버튼 비활성 */
.nav-btn {
    border-radius: 32px;
    background-color: var(--disabled-color);
    color: #fff;
}

/* 뒤로가기 버튼 */
.back-btn {
    width: 22px;
    height: 22px;
}

.upload {
    padding: 8px 27px 7px 26px;
}

/* 저장 및 업로드 버튼 활성 */
.nav-btn.enabled {
    background-color: var(--enabled-color);
}

.main {
    padding-top:48px;
}

.container-sec {
    padding:0px 16px;
}

.container-sec .category-sec {
    border-bottom: 0.5px solid var(--light-gray-color);
}
.category-sec .select-btn {
    width: 100%;
    text-align: left;
    background-color: var(--background-color);
    border: none;
    padding:10px 0px 7px;
    font-size: 12px;
    font-weight: 400;
    background: url("../assets/images/icon/icon-select.svg") no-repeat right center;
}

.category-sec .modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.category-sec .modal.show {
    display: flex;
    z-index: 10;
}

.category-sec .category-list {
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    width: 252px;
    border-radius: 10px;
    border:1px solid var(--light-gray-color);
    padding:29px 14px 14px;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--background-color);
}

.category-list li:not(:last-child):not(:first-child) {
    width:100%;
    border-bottom: 1px solid var(--light-gray-color);
}

.category-list li .close {
    background-color: var(--background-color);
    position: absolute;
    right: 15px;
    top: 10px;
}

.category-list li .button{
    width: 100%;
    background-color: var(--background-color);
    border: none;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding:14px;
}

.category-list li .button.tit {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.category-list li .button.category {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.data-form .upload-tit {
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    border:none;
    padding:10px 0px;
    border-bottom: 0.5px solid var(--light-gray-color);
    background-color: var(--background-color);
}

.data-form .upload-tit::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-gray-color);
}

.data-form .upload-txt {
    display: block;
    width: 100%;
    border:none;
    font-size: 14px;
    font-weight: 400;  
    padding:10px 0px;
    font-family: inherit;
    resize: none;
}

.data-form .upload-txt::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-gray-color);
    font-family: 'Pretendard';
}

.data-form .img-btn {
    position: absolute;
    right:    0;
    bottom:   0;
    padding: 0 11px 30px 0;
}
.data-form .upload-img {
    display: none;
}

.container-img .postimg-list {
    position:relative;
    width: 355px;
    height: 228px;
    display: flex;
    gap:8px;
    margin:16px auto;
}

.postimg-list li {
    position: relative;
    flex-basis: 100%;
}
.postimg-list img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.postimg-list button {
    position: absolute;
    width:22px;
    height: 22px;
    background-image: url("../assets/images/icon/icon-close.svg");
    right:8px;
    top:7px;
    background-color: inherit;
}

/* .nav .modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav .modal.show {
    display: block;
}

.nav .modal div{
    display: flex;
    width: 252px;
    flex-direction: column;
    align-items: center;
    padding:37px 28px 14px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    background-color: var(--background-color);
}

.nav .modal .input-tit {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 19px;
}

.nav .modal .confirm-btn {
    width: 100%;
    border-radius: 5px;
    background-color: #DFDFDF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px; */
    /* padding:3px 0;
} */