/* 상품 등록 */
.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 48px;
}
.product-wrap { 
  width: 100%;
  max-width: 390px;
  padding: 30px 34px 0;
}

/* 이미지 등록 */
.product-img-wrap {
  margin: 18px 0 30px 0;
  height: 204px;
  position: relative;
  background-color: var(--background-gray-color);
  border: 0.5px solid var(--cancel-color-border);
  border-radius: 10px;
}
.product-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-img-input{
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 36px;
  height: 36px;
  background-color: #000;
  background-size: 36px 36px;
} 
.product-img-screen::after {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  right: 12px;
  bottom: 12px;
  background: no-repeat center url(../assets/images/icon/icon-image.svg);
  background-color: #C4C4C4;
  background-size: 22px 22px;
  border-radius: 50%;
  cursor: pointer;
}

.product-img-wrap img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* 타이틀, 내용 */
.input-wrapper {
  margin-bottom: 16px;
}

.product-wrap .product-title {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: var(--gray-text-color);
  margin-bottom: 10px;
}