/* 검색 결과 메인 */
.search-main {
  padding: 68px 16px 60px 16px;
}

.search-list-item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.search.profile-image {
  width: 50px;
  height: 50px;
  border: 1px solid var(--light-gray-color);
  border-radius: 50%;
  margin-right: 12px;
}

.search.profile-name {
  font-size: 14px;
  font-weight: 500;
  color: var(--content-color-text);
  margin-bottom: 6px;
}

.search.profile-id {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-text-color);
}
