.setProfile-title {
  padding-top: 55px;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.setProfile-desc {
  font-size: 14px;
  color: var(--gray-text-color);
  text-align: center;
}

.setProfile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 322px;
}

.setProfile-img {
  position: relative;
  margin: 30px auto;
  width: 110px;
  height: 110px;
  background-image: url(../assets/images/img-profile_large.png);
  background-repeat: no-repeat;
  background-size: 110px 110px;
  border-radius: 50%;
}

.setProfile-img-upload-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
  line-height: 0;
  border-radius: 50%;
  background-color: var(--enabled-color);
}

.setProfile-input-box:not(:last-of-type) {
  margin-bottom: 16px;
}

.setProfile-label {
  align-self: flex-start;
  font-size: 12px;
  color: var(--gray-text-color);
}

.setProfile-input {
  padding: 8px 0;
  width: 320px;
  font-size: 14px;
  border-bottom: 1px solid var(--light-gray-color);
  transition: all 0.2s;
}

.setProfile-input::placeholder {
  font-weight: 400;
  color: var(--light-gray-color);
}

.setProfile-input:focus {
  outline: 0;
  border-color: var(--enabled-color);
}

.submit-btn {
  margin: 30px 0 0;
  padding: 13px 14px;
  width: 322px;
  font-size: 14px;
  color: #fff;
  border-radius: 44px;
  background-color: var(--disabled-color);
}
