/* 푸터 탭 메뉴 */
.home-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--light-gray-color);
  background-color: var(--background-color);
}

.tab-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 34px;
}

.tab-menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: var(--gray-text-color);
}

.tab-menu div {
  background-image: url(../assets/images/icon/icon-sprites_gray.png);
  background-repeat: no-repeat;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}

.tab-menu .home-icon {
  background-position: -5px -39px;
}

.tab-menu .chat-icon {
  background-position: -39px -5px;
}

.tab-menu .post-icon {
  background-position: -5px -5px;
}

.tab-menu .profile-icon {
  background-position: -39px -39px;
}

/* 클릭됐을 때 */
.tab-menu > li > a.clicked {
  color: var(--enabled-color);
}

/* 홈 */
.home-icon.clicked {
  background-image: url(../assets/images/icon/icon-sprites_purple.png);
}

/* 채팅 */
.chat-icon.clicked {
  background-image: url(../assets/images/icon/icon-sprites_purple.png);
}

/* 게시물 */
.post-icon.clicked {
  background-image: url(../assets/images/icon/icon-sprites_purple.png);
}

/* 프로필 */
.profile-icon.clicked {
  background-image: url(../assets/images/icon/icon-sprites_purple.png);
}
