/* 프로필 */
.main {
  padding-top: 48px;
  min-height: 100vh;
}  
.user-list-wrap {
  max-width: 390px;
  width: 100%;
  padding: 24px 16px;
  margin: 0 auto;
}
.user-profile-li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.user-img {
  margin-right: 12px;
  width: 100%;
  min-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5px solid var(--light-gray-color);
}

/* 유저 정보 */
.user-info {
  margin-right: 12px;
}
.user-info .user-name {
  display: block;
  margin: 5px 0 6px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  align-self: flex-start;
}
.user-info .user-intro {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray-text-color);
  width: 210px;
  display: inline-block;
}

/* 유저 검색 목록*/
.user-profile-li .search-a {
  display: flex;
  width: 100%;
}

/* 팔로우 */
.user-profile-li a {
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.user-follow-btn {
  padding: 7px 11px;
  min-width: 56px;
  font-weight: 400;
  line-height: 14px;
  border-radius: 26px;
  color: var(--background-color);
  background-color: var(--enabled-color);
}

/* 팔로우 취소 버튼 */
.cancel {
  color: var(--gray-text-color);
  background-color: var(--background-color);
  border: 1px solid var(--light-gray-color);
}
/* 팔로잉 없을 경우 */
.noFollow-msg-wrap {
  text-align: center;
}
.noFollow-msg-wrap .msg-strong {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.noFollow-msg-wrap .msg-p {
  font-size: 14px;
  line-height: 22px;
}
